
<div class="collab-container">
    <h1>Collaborators</h1>
    <ul>
        <li class="card">
            <img src="./img/terminator-1.jpg" alt="Joshua Roth" class="img">
            <h3>Joshua Roth</h3>
            <p>Role: Developer</p>
            <a href="https://raider4414@gmail.com" class="fa fa-envelope"></a>
            <a href="https://github.com/joshuaroth"><i class="fa fa-github"></i> GitHub</a>
            <div style="margin: 20px 0;">
            </div>
        </li>
        <li class="card">
            <img src="./img/terminator-2.jpeg" alt="Anthony Buffill" class="img">
            <h3>Anthony Buffill</h3>
            <p>Role: Developer</p>
            <a href="https://Abuffill@outlook.com" class="fa fa-envelope"></a>
            <a href="https://github.com/Anthonybuffill"><i class="fa fa-github"></i> GitHub</a>
            <div style="margin: 20px 0;">
            </div>
        </li>
        <li class="card">
            <img src="./img/terminator-3.jpeg" alt="Michale Graham" class="img">
            <h3>Michale Graham</h3>
            <p>Role: Developer</p>
            <a href="https://michael.graham1029@gmail.com" class="fa fa-envelope"></a>
            <a href="https://github.com/mwg396"><i class="fa fa-github"></i> GitHub</a>
            <div style="margin: 20px 0;">
            </div>
        </li>
        <li class="card">
            <img src="./img/terminator-4.jpeg" alt="Luke Garnsey" class="img">
            <h3>Luke Garnsey</h3>
            <p>Role: Developer</p>
            <a href="https://" class="fa fa-envelope"></a>
            <a href="https://github.com/LukeGarnsey"><i class="fa fa-github"></i> GitHub</a>
            <div style="margin: 20px 0;">
            </div>
        </li>
        <li class="card">
            <img src="./img/terminator-5.jpeg" alt="Brian Doherty" class="img">
            <h3>Brian Doherty</h3>
            <p>Role: Developer</p>
            <a href="https://bdoherty988@gmail.com" class="fa fa-envelope"></a>
            <a href="https://github.com/Bdoherty1"><i class="fa fa-github"></i> GitHub</a>
            <div style="margin: 20px 0;">
            </div>
        </li>
    </ul>
    </div>