  <header>
    <div id="main-header-container" class="container">
      {{> header}}
      <nav>
        <ul>
         
          <li><a class="pr-5 font-casmono text-info">{{email}}</a></li>
          <li><a style="cursor: pointer;" class="px-5 font-casmono" id="user-logout">Logout</a></li>
        </ul>
      </nav>
    </div>
    <script src="/js/logout.js"></script>
  </header>