  <header>
    <div id="main-header-container" class="container">
      {{> header}}
      <nav>
        <ul>
          {{!-- <li><a></a></li> --}}
          <li><a style="cursor: pointer;" id="user-logout">Logout</a></li>
        </ul>
      </nav>
    </div>
    <script src="/js/logout.js"></script>
  </header>