<div class="invoice-container mb-1">
  <h5 class="invoice-item invoice-amount font-stmreg">$150.00</h5>
  <h5 class="invoice-item invoice-status font-stmreg">Payed</h5>
  <h5 class="invoice-item invoice-number font-stmreg">73FC872</h5>
  <h5 class="invoice-item invoice-customer font-stmreg">James@DigitalMedia.com</h5>
  <h5 class="invoice-item invoice-due font-stmreg">----</h5>
  <h5 class="invoice-item invoice-created font-stmreg">Jan 4th, 3:00 PM</h5>
</div>