<div class="popup", id="popup">
    <div class="popup-content">
      <span class="close text-app-red" id="closePopup">&times;</span>
      <div id="popup-content"></div>
      <div class="m-5"></div>
      
      <a href="/dashboard" class="bg-app-blue p-2 app-button text-app-black"><b>
        Back to Dashboard</b></a>
    </div>
<script src="/js/create-invoice/popup.js"></script>
</div>