<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>InvoicInator</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/color.css">
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/user.css">
  <link rel="stylesheet" href="/css/dashboard.css">
  <link rel="stylesheet" href="/css/invoice.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/caliborators.css">
  
</head>
<body class="bg-app-blue">
  {{{body}}}
</body>
</html>