
{{> main-navbar}}

<div class="container mx-24 py-12">
  <div class="container w-1/2">
    <h1 class="text-accent-1 text-6xl">
      Say 'Hasta la Vista' to business pain
    </h1>
  </div>
  <div class="container">
    <h5 class="text-accent-1 py-12 text-xl">
      The InvoicInator will not stop until you get paid!
    </h5>
    <div class="container text-accent-1">
      <a>Get Started</a>
    </div>
  </div>
</div>