
{{> main-navbar}}

<div class="container mx-24 py-12">
  <div class="container w-1/2">
    <h1 class="text-accent-1 text-6xl">
      Say 'Hasta la Vista' to business pain
    </h1>
  </div>
  <div class="container">
    <h5 class="text-accent-1 py-12 text-xl">
      The InvoicInator will not stop until you get paid!
    </h5>
    <div class="container">
      <button class="text-main-1 bg-gradient-to-r from-accent-1 via-accent-1 to-pink-500 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 rounded-lg text-md font-bold px-5 py-2.5 text-center me-2 mb-2">Get Started</button>
    </div>
  </div>
</div>