
{{> main-header-navbar}}
  <div class="container">
    <div class="" id="main-tagline">
      <h2 class="text-app-red font-casmono">
        Say 'Hasta la Vista' to business pain
      </h2>
    </div>
    <div class="" id="sub-tagline">
      <h5 class="text-app-red py-12 text-xl font-casmono">
        The InvoicInator will not stop until you get paid!
      </h5>
    </div>
    <div class="py-5">
        <a class="bg-app-red p-2 app-button"><b>Get Started</b></a>
      </div>
  </div>