{{> header-loggedin}}
<div class="container bg-app-grey min-100-vh" id="main-create-container">
  <form class="">
    <div class="pt-5">
      <label class="label-item" for="invoice-num">invoice#:</label>
      <input type="text" placeholder="1234ABCD" id="invoice-num" maxlength="8">
    
      <input type="text" placeholder="Your Company Name" id="company-name">
    </div>
    <div>
      <label class="label-item" for="payment-due">Payment Due:</label>
      <input type="date" id="payment-due">
    </div>
    <div>
      <label class="label-item" for="amount-due">Amount Due:</label>
      <input type="number" placeholder="0.00" id="amount-due">
    </div>

<div style="display: flex;">

    <div id="invoice-user-container">
      <div>
        <label class="label-item" for="user-email">User:</label>
        <input type="email" placeholder="Your Email" id="user-email">
      </div>
      <div>
        <label class="label-item" for="user-name"></label>
        <input type="text" placeholder="Your Name" id="user-name">
      </div>
      <div>
        <label class="label-item" for="user-address"></label>
        <input type="text" placeholder="Address" id="user-address">
      </div>
      <div>
        <label class="label-item" for="user-city"></label>
        <input type="text" placeholder="City, State, Zip" id="user-city">
      </div>
    </div>
    <div id="invoice-client-container">
      <div>
        <label class="label-item-right" for="client-email">Client:</label>
        <input type="email" placeholder="Your Email" id="client-email">
      </div>
      <div>
        <label class="label-item-right" for="client-name"></label>
        <input type="text" placeholder="Your Name" id="client-name">
      </div>
      <div>
        <label class="label-item-right" for="client-address"></label>
        <input type="text" placeholder="Address" id="client-address">
      </div>
      <div>
        <label class="label-item-right" for="client-city"></label>
        <input type="text" placeholder="City, State, Zip" id="client-city">
      </div>
    </div>
  </div>

    <div class="invoice-bottom">
      <div id="details-container">
        <label class="label-item" for="invoice-details">Invoice Details:</label>
        <textarea style="resize: none;" type="text" placeholder="Details of work provided", id="invoice-details"></textarea>
      </div>
      <button type="submit" id="send-invoice-button">Send Invoice</button>
    </div>
  </form>
  <script src="/js/invoice.js"></script>
</div>