{{> main-header}}
  <div class="container pt-5">
    <div class="bg-app-red" id="user-container" style="visibility: hidden;">
      <h2 class="text-app-blue text-center p-2">InvoicInator</h2>
      <div class="bg-app-grey" id="signup-container">
        <div class="container">
          <p class="signup-item pt-2" id="tagline">
            Create your account and get paid
          </p>
          <p style="display: none;" class="login-item pt-2">
            Total Recall of your account
          </p>
          <form>
            <label for="email">Email</label>
            <input type="text" placeholder="Enter Email", id="email" require>

            <label for="password">Password</label>
            <input type="password" placeholder="Enter Password", id="password" require>
            <div id="confirm-password-container">
              <label class="signup-item" for="password-confirm" data-hidden="true">Confirm Password</label>
              <input class="signup-item" type="password" placeholder="Confirm Password", id="password-confirm" data-hidden="true" require>
            </div>
            <button type="submit" class="signupbtn" id="submit-button">Sign Up</button>
          </form>
          <div class="swap-button text-center"><a id="swap-button">Login</a></div>
        </div>
      </div>
    </div>
    <script src="/js/user-form.js"></script>
  </div>